// apply a natural box layout model to all elements, but allowing components to change
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.login-main {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 150px;
  margin-top: -75px;
  margin-left: -100px;

  p {
    font-size: 10.5pt;
    white-space: nowrap;
  }

  input[type="text"],
  input[type="password"] {
    height: 2.5em;
    margin-bottom: .5em;
    padding-left: .7em;
    width: 100%;
  }
}
.denied{
  animation-name: not-alowed;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
@keyframes not-alowed {
    0% {transform: translateX(0px);}
    30% {transform: translateX(-40px);}
    60% {transform: translateX(40px);}
    100% {transform: translateX(0px);}
}
